<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Off">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.Database" />
  </extensions>

  <variable name="connectionString" value="" />

  <targets>
    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}" />

    <target xsi:type="Database" name="database"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
            connectionString="${var:connectionString}">
      <commandText>
        INSERT INTO dbo.tblApplicationLog (Message, MessageTemplate, Level, TimeStamp, Exception, LogEvent)
        VALUES (@Message, @MessageTemplate, @Level, @TimeStamp, @Exception, @LogEvent);
      </commandText>
      <parameter name="@Message" layout="${message}" />
      <parameter name="@MessageTemplate" layout="${message:raw=true}" />
      <parameter name="@Level" layout="${level:uppercase=true}" />
      <parameter name="@TimeStamp" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@Exception" layout="${exception:format=tostring}" />
      <parameter name="@LogEvent" layout="${all-event-properties}" />
    </target>
  </targets>

  <rules>
    <!-- Microsoft.* (includes AspNetCore and EntityFrameworkCore) is noisy below Warning. -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Warning" writeTo="database" />
  </rules>
</nlog>
